
*.swp

*.sqlite3
./frontend/node_modules/*
*.pyc
*.log

conflictcartographer/production.py
dbinfo.json

dist/*
!dist/.gitkeep

frontend/webpack-stats.json
frontend/package.json

logs/*
!logs/.gitkeep
venv/
docker.sh
