
venv/
__pycache__/
*.py[cod]

*.swp

*.sqlite3

*.log

app/conflictcartographer/production.py

frontend/dist/*
!frontend/dist/.keep
frontend/node_modules

app/static/*
!app/static/.keep
frontend/.cache
frontend/webpack-stats.json
app/compiled/*
!app/compiled/.keep
note
.vim/
penv.env
.coverage
htmlcov/
depr/
.env
