
{% extends "registration/base.html"%}

{% block title %} Login {% endblock %}

{% block pagetype %}
Login
{% endblock %}


{% block content %}
<form method="post" accept-charset="utf-8">
   {% csrf_token %}
   <div class="row">
      <div class="four columns descr">
         Username
      </div>
      <div class="eight columns">
         {{form.username}}
      </div>
   </div>
   <div class="row">
      <div class="four columns descr">
         Password
      </div>
      <div class="eight columns">
         {{form.password}}
      </div>
   </div>
   <button type="submit">Login</button>
</form>
{% endblock %}

