
{% extends "registration/base.html"%}

{% block title %} Login {% endblock %}

{% block pagetype %}
Login
{% endblock %}


{% block content %}
<form method="post" accept-charset="utf-8">
   {% csrf_token %}
   <div class="content">
      <div class="row">
         <div class="four columns descr">
            Username
         </div>
         <div class="eight columns">
            {{form.username}}
         </div>
      </div>
      <div class = "row">
         {{form.username.errors}}
      </div>
      <div class="row">
         <div class="four columns descr">
            Password
         </div>
         <div class="eight columns">
            {{form.password}}
         </div>
      </div>
   </div>
   <div class = "row errors">
      {% for e in form.non_field_errors %}
         <div class="error">
            {{e}}
         </div>
      {% endfor %}
   </div>
   <button type="submit">Login</button>
</form>
{% endblock %}

