
{% extends "registration/base.html"%}

{% block title %} Sign up {% endblock %}

{% block content %}
<h2>Sign up</h2>
<form method="post">
   {% csrf_token %}
   <div class="row">
      Welcome {{ uname }}.
      Please create a password (enter it twice). 
   </div>
   <div class="row">
      {{ form.password2 }}
   </div>
   <div class="row">
      {{ form.password1 }}
   </div>
   <div class="row">
      {{ form.username.as_hidden }}
      {{ form.non_field_errors }}
      {{ form.password1.errors }}
      {{ form.password2.errors }}
      {{ form.username.errors }}
   </div>
   <div class="row">
      <button type="submit">Sign up</button>
   </div>
</form>
{% endblock %}
