@import "@/sass/variables.sass"

html,body
   font-family: "Raleway"
   padding: 0px
   margin: 0px

button
   border: 1px solid gray 
   border-radius: 4px

.container
   height: 100vh
   width: 100vw
   display: grid
   place-items: center

#cardholder
   display: grid
   place-items: center

#cardholder > a 
   margin-top: 40px

p.description
   max-width: 400px 
   margin: 0px

.card
   padding: 10px 80px 
   display: grid 
   place-items: center
   border-radius: $roundedness
   background: $ui-gray

form
   width: 270px
   display: grid 
   place-items: center
   grid-template-columns: 1fr
   margin: 0px 0px 50px 0px 

form > label
   margin-top: 20px 

#errors
   color: $ui-highlight
#errors > *
   margin-top: 10px

input[type=text],input[type=password],input[type=email]
   border: none
   border-left: 1px solid $ui-darkergray 
   border-right: 1px solid $ui-darkergray 
   height: 35px 
   width: 200px
   text-align: center
   border-radius: $roundedness
   font-size: 18px

input[type=email]
   width: 230px

label
   color: #404040
   margin-bottom: 6px 

input[type=submit],#registerlink
   margin-top: 20px
   border: none
   border-bottom: 2px solid $ui-darkergray
   height: 30px
   width: 150px
   border-radius: $roundedness
   background: $ui-lightgray
   text-align: center
   text-decoration: none
   color: black
   font-size: 15px
   display: grid
   place-items: center
   font-family: "Raleway"

input[type=submit]:hover,#registerlink:hover
   background: $ui-highlight

#buttons
   margin-top: 6px 

h1>a
   color: $ui-highlight
   text-decoration: none
   
h1
   font-weight: normal 
