
@import "@/sass/variables"

@keyframes nagging
   0% 
      background: $ui-gray
   2% 
      background: scale-color($ui-highlight, $lightness: 60%, $saturation: -70%)
   100% 
      background: $ui-gray
