@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap')

body
   font-family: raleway
   color: #555

button
   border: none
   border-radius: 10px
   font-size: 20px

button:hover
   filter: brightness(1.1)

button:active
   filter: brightness(0.9)

button:focus
   outline: none

button.continue
   background: #afa
   color: #0a0

button.alt
   background: #aaf
   color: #00a

.overlay
   position: absolute
   top: 0
   left: 0
   pointer-events: none
   height: 100vh
   width: 100vw
