
@import "./variables.sass"

html
   padding: 0px
   margin: 0px

#app
   margin: $app_margin 

#map
   border-radius: $roundedness
   filter: contrast(1.15)

#projectmenu
   width: 1555
   height: $map_height

.vue-slider-process
   background: $ui-highlight 

.vue-slider:hover .vue-slider-process
   background: $ui-light-highlight 

.vue-slider-dot-handle
   border-color: $ui-highlight

.vue-slider:hover .vue-slider-dot-handle
   border-color: $ui-light-highlight

.vue-slider:hover .vue-slider-dot-handle:hover
   border-color: $ui-light-highlight

.vue-slider-dot-handle-focus
   box-shadow: 0 0 10px white 
