
@import "./variables.sass"

#app
   margin: $app_margin 

#map
   border-radius: $roundedness
   filter: contrast(1.15)

#toolbar
   float: left
   margin: $gaps 
   width: $toolbar_width 

#projectmenu
   width: 1555
   height: $map_height

