

// Map size! 
// Important, because everyone needs to see the same map.
$map_height: 900px
$map_width: 100vw 

$toolbar_width: 300px

$navbar_height: 100px

// Colors

$maincolor_1: black 
$maincolor_2: blue 

$ui_gray: #ECEBEB 

$ui_highlight: #da4252

$ui_remove_1: #d9863a
$ui_remove_2: #e4a974

$drawcolor: grey

//Gaps
$app_margin: 0px
$gaps: 5px

$roundedness: 7px

// Leaflet toolbar

$tbsize: 40px
