

// Map size! 
// Important, because everyone needs to see the same map.
$map_height: 80vh 
$map_width: 99vw 

$toolbar_width: 300px

$navbar_height: 100px

// Colors
$maincolor_1: black 
$maincolor_2: blue 

$ui-background: #fffffd

$ui_gray: #d0d0d0
$ui_lightgray: #f0f0f0
$ui_darkgray: #a0a0a0
$ui_highlight: #da4252
$ui-highlight: $ui_highlight 

$ui_remove_1: #d9863a
$ui_remove_2: #e4a974

$drawcolor: grey

// Menu

$menu-el-width: 300px
$menu-el-height: 100px

$menu-row-proportions: $menu-el-height auto 
$menu-col-proportions: $menu-el-width auto 

$menu-proportions: $menu-el-width auto 

$app_margin: 0px
$gaps: 0px
$menu-gaps: 10px
$roundedness: 3px

// Leaflet toolbar
$tbsize: 40px
