{% extends 'registration/base.html' %}

{% block title %}
Error
{% endblock %}

{% block pagetype %}
Error
{% endblock %}

{% block content %}
<p>
   Something went wrong when trying to unsubscribe you. Please contact us at 
   <a href="mailto:conflictcartographer@prio.org">conflictcartographer@prio.org</a>
</p>
{% endblock %}
