{% load render_bundle from webpack_loader %}
{% load static %}

<!DOCTYPE html>
<html>
   <head>
      <title>{% block title %}{% endblock %}</title>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width" />

      <!-- Style and font -->
      <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
   </head>
   <body>
      <div class="container">
         <div class="card">
            <h1><a href="/">Conflict Cartographer</a><span>{% block pagetype %}{% endblock%}</span></h1>
            {% block content %}
            {% endblock %}
         </div>
      </div>
      <script src="{% static "js/accounts.js" %}"></script>
   </body>
</html>
