
{% extends "registration/base.html"%}

{% block title %} Login {% endblock %}

{% block pagetype %}
Login
{% endblock %}


{% block content %}
<form method="post" accept-charset="utf-8">
   {{form.username.label_tag}}
   {{form.username}}
   {{form.username.errors}}
   {{form.password.label_tag}}
   {{form.password}}
   <input type="submit">
   {% csrf_token %}
</form>
<div class = "row errors">
   {% for e in form.non_field_errors %}
      <div class="error">
         {{e}}
      </div>
   {% endfor %}
</div>
<a href="/accounts/register">Register</a>
{% endblock %}

