We would like to invite you to participate in the PRIO Conflict Expert
Survey. Before starting we want to give you some information about the
project and the data that we are collecting

In the past few years there has been an increase in projects forecasting
and predicting conflict. While these predictions rely on advanced models
and the newest data that exists, there are certain things that are very
hard for a statistical model to predict, such as sudden terror attacks,
or outbreak of new conflict. In order to find a way to better predict
these black swans and get a more precise prediction we use an expert
opinion survey.

The PRIO Conflict Expert Survey project is one of the first projects to
use expert surveys to predict future conflict. Thus, our aim is
two-fold. First of all, we would like to produce short term conflict
predictions that can be used in policy work. Second, we would like to
evaluate the accuracy and validity of expert survey opinions within
conflict research and predictions.

We are planning to run the survey four times in 2021, where the experts
will be asked to predict three months ahead. We will open the survey one
month before the prediction period starts, and close it the day before
it starts. The prediction periods are 1. January -- 31. March, 1. April
-- 30. June, 1. July -- 30. September and 1. October -- 31- December.

To start the survey we will ask you to register as a user with your
e-mail address and a password, this you can then use every time you log
on to do the next prediction round. You will be sent a reminder when the
survey opens for the next prediction period.

Before we start the survey you will also be asked to answer a few
questions about your background. This data will be used in the analysis,
but it will be aggregated and your predictions will be anonymous. Your
username, password and background details will not at any time be linked
to your predictions outside of our encrypted database. The data will
only be handled by the project group at PRIO. You can at any time
withdraw from this survey and ask to have both your predictions and
background data deleted. The current project will last until the end of
2021, thus unless further consent the data will be made fully anonymous,
and used for research proposes by the end of 2022

If you have any questions about the survey or the data storage please
contact the project leader Research Professor Siri Aas Rustad:
sirir\@prio.com
