<h1>Dear participant!</h1>
<p>Thank you for showing your interest in the PRIO Conflict Cartographer (<a href="https://conflictcartographer.prio.org"><em>https://conflictcartographer.prio.org</em></a>). The Cartographer is a tool where you can draw conflict forecasts for the near future on a map and get evaluation feedback based on openly available event data.</p>
<p>We want to be transparent in how this project works. Below, we will give you information about the project, how we handle data, and your data rights.</p>
<p>Please read this message before continuing.</p>
<h2>Data procedures &amp; rights in short:</h2>
<ul>
<li><blockquote>
<p>your forecasts become entries in a Microsoft Azure GIS database [id, date, geometry, forecast, confidence] stored in Northern Europe.</p>
</blockquote></li>
<li><blockquote>
<p>we connect the id with personal information you provide [id, email, profession*, affiliation*]</p>
</blockquote></li>
<li><blockquote>
<p>you can at any point delete your profile, which also will delete your <em>personal information</em>. We will keep forecasts and anonymized profession associated to the id for future research purposes.</p>
</blockquote></li>
</ul>
<p>*Voluntary information</p>
<h2 id="purpose-of-the-project">Purpose of the project</h2>
<p>The purpose of PRIO Conflict Cartographer is to experiment with geo-located expert forecasting of violent conflict. At its most basic, it is a service where the user draws their conflict forecasts for the near future on a map and get evaluation feedback based on openly available event data. Initially, we will use the data we gather from the users exploratory and inductively to see just how this tool is being used, how much information and activity we can get, and how to improve the general experience of providing geo-located conflict forecasting. In the longer term, we aim to use the tool for targeted and crowd-sourced conflict forecasts that can inform policy, forecasting competitions, and randomized experiments to better understand how to become better at expert forecasting of violent conflict. You can use the Conflict Cartographer without being part of a randomized experiment or a forecasting competition, and any participation in such events will be after informed consent.</p>
<p>The development of the Conflict Cartographer and its various use-cases will depend on future project financing. We will nevertheless aim to keep Conflict Cartographer running and providing regular evaluation updates in the foreseeable future. If you have ideas for how to use or develop Conflict Cartographer further, please contact us!</p>
<p>We believe that the Conflict Cartographer could be used to train students, researchers, and practitioners to become more explicit in how they think about future conflict risks in their geographical area of interest, to become aware of the data available on conflict risk, and possibly to improve individual skills at near-present conflict forecasting.</p>
<h2>Who is responsible for the Conflict Cartographer?</h2>
<p><a href="https://www.prio.org"><em>Peace Research Institute Oslo</em></a> is the institution responsible for the project. PRIO Research Professor <a href="https://www.prio.org/people/person/?x=4693"><em>Siri Aas Rustad</em></a> and PRIO Senior Researcher <a href="https://www.prio.org/people/person/?x=5008"><em>Jonas Vestby</em></a> co-leads the project. For inquiries regarding the Conflict Cartographer, please reach out to us on our individual e-mails or <a href="mailto:conflictcartographer@prio.org"><em>conflictcartographer@prio.org</em></a>.</p>
<h2>Why are you being asked to participate?</h2>
<p>The Conflict Cartographer is open to anyone who would like to participate. However, we have sent out invites to people we believe would be particularly interested in using this tool, such as conflict researchers, area experts, policy analysts, students, etc. We invite anyone to try it out, however, and believe that diversity in backgrounds will only strengthen the project,</p>
<h2 id="what-does-participation-involve-for-you">What does participation involve for you?</h2>
<p>When you log onto Conflict Cartographer you are asked to pick countries you would like to provide forecasts for. You can draw your forecasts on a map of the country as polygons. The forecasts will be for the near future. When you are happy with your polygons, you can submit. The forecast is then stored in our database.</p>
<p>When openly available data on actual events have been released, you will get a quantified evaluation of your forecast. You will also be able to see how your forecast compared to the recorded events on a map.</p>
<p>We will send an email notification to participants that submitted forecasts when evaluations are in. We will also send a newsletter to all participants in our dataset. It is possible to opt out of this newsletter. We may also contact you at a later stage for invitations to forecasting competitions or randomized experiments using the Conflict Cartographer, or for other research on expert conflict forecasting such as surveys.</p>
<p>In the application, you can volunteer to add information about your profession and institutional affiliation. While profession will be used in the data analysis, we ask for institutional affiliation mainly to get a sense where users are, for further recruitment of participants and possible future collaboration.</p>
<p>The data you have submitted will be used in research (see “Purpose of project”) after being anonymised (we remove the link between the id and the email address, as well as institutional affiliation). Profession will be categorized in the process if needed to prevent personal identification.</p>
<h2>Participation is voluntary</h2>
Participation in the project is voluntary. You can delete the personal information we store on you by deleting your profile. All information about you will then be made anonymous. You will not be able to use the tool after deleting your profile, and if you create a new profile, we cannot connect the new profile to forecasts made in your deleted profile.</p>
<h2>Your personal privacy – how we will store and use your personal data</h2>
<p>We will only use your personal data for the purpose(s) specified in this information letter. We will process your personal data confidentially and in accordance with data protection legislation (the General Data Protection Regulation and Personal Data Act).</p>
<p>The project leaders and one data scientist employed at PRIO (Oslo, Norway) will have access to the database with personal data. The personal data will be stored in a Microsoft Azure database (and backup) hosted in Northern Europe. We will mainly access personal data through procedures to send mass-email where email addresses are hidden from the admin (e.g., to send emails to all who submitted forecasts last round). A research assistant at PRIO will also get access to these procedures (i.e., through a password-protected admin-layer).</p>
<p>The forecasts you submit, as part of the anonymized data, i.e., GIS polygon, conflict prediction, id-number, and profession can be used in research and in research publications.</p>
<p>We will not connect analysis of forecasts with personally identifiable information. E.g., contact you personally about your own forecasts or publish a list of the best individual forecasters. If, in the future, we invite to forecasting competitions, we will ask permission to publish a list of individual performances (without personally identifiable information), and to contact the best performing individuals via email.</p>
<h2>What will happen to your personal data at the end of the research project?</h2>
<p>While we do not have an end date to the Conflict Cartographer, if the project ends, we will delete personally identifiable information. Forecast-data will be anonymized and kept. In the event that the project ends, we will reserve the right to reach out and ask if you are interested in letting us keep your email address so we can contact you for future conflict forecasting projects. We will also inform you every fourth year you have had an account, so you can make an informed decision whether to keep it.</p>
<h2>Your rights</h2>
<p>So long as you can be identified in the collected data, you have the right to:</p>
<ul>
<li><blockquote>
<p>access the personal data that is being processed about you</p>
</blockquote></li>
<li><blockquote>
<p>request that your personal data is deleted</p>
</blockquote></li>
<li><blockquote>
<p>request that incorrect personal data about you is corrected/rectified</p>
</blockquote></li>
<li><blockquote>
<p>receive a copy of your personal data (data portability), and</p>
</blockquote></li>
<li><blockquote>
<p>send a complaint to the Data Protection Officer or The Norwegian Data Protection Authority regarding the processing of your personal data<strong><br />
</strong></p>
</blockquote></li>
</ul>
<h2>What gives us the right to process your personal data?</h2>
<p>We will process your personal data based on the public interest in providing this service. You are also given the option to delete your personal data at any time.</p>
<p>Based on an agreement with <em>Peace Research Institute Oslo</em>, NSD – The Norwegian Centre for Research Data AS has assessed that the processing of personal data in this project is in accordance with data protection legislation.</p>
<h2>Where can I find out more?</h2>
<p>If you have questions about the project, or want to exercise your rights, contact:</p>
<ul>
<li><blockquote>
<p>Peace Research Institute Oslo via Siri Aas Rustad (<a href="mailto:sirir@prio.org"><em>sirir@prio.org</em></a>).</p>
</blockquote></li>
<li><blockquote>
<p>Our Data Protection Officer: Siri Tenden (<a href="mailto:siri.tenden@nsd.no"><em>siri.tenden@nsd.no</em></a>)</p>
</blockquote></li>
<li><blockquote>
<p>NSD – The Norwegian Centre for Research Data AS, by email: (<a href="mailto:personverntjenester@nsd.no"><em>personverntjenester@nsd.no</em></a>) or by telephone: +47 53 21 15 00.</p>
</blockquote></li>
</ul>
