<html>
<body>

<span><p>We are a group of researchers at the Peace Research Institute Oslo (PRIO), and would like to invite you to participate in a pilot exercise on the use of experts to improve early warning predictions of conflict escalation.</p></span>

<span><p>The survey involves drawing on a map where you believe violent conflicts are likely to escalate or de-escalate during 2020. You have been assigned to a (few) country project(s), based on your academic or professional focus. For the purpose of this study, we need you to submit your predictions within the end of 2019.</p></span>

<span><p>It does not take long time to submit your predictions (approx. 10-15 minutes per country).</p></span>

<span><p>We will provide participants with individual reports of their predictive performance relative to other participants and to machine models when data for 2020 has arrived.</p></span>

<span><p>If you would like to participate, please follow the link below. The link takes you to a web-application where you can read more about the project, and share your conflict-risk predictions for 2020.</p></span>

<p class="callout">
   <a href="{{ uniquelink }}">conflictcartographer.prio.org &raquo;</a>
</p>

<span><p>The survey is done as part of the EU-LISTCO project, which is funded under the Horizon 2020 EU programme. If you have any questions, do not hesitate to ask us, either using conflictcartographer@prio.org, or any of our emails (see below). </p></span>

<p>Best,<br>
the conflict cartographer team at PRIO</p>
<span><p>Håvard M. Nygård, research director, (havnyg@prio.org)<br> 
Siri Aas Rustad, senior researcher, (sirir@prio.org)<br>
Jonas Vestby, senior researcher, (jonves@prio.org)<br>
Andreas F. Tollefsen, senior researcher, (andreas@prio.org)<br>
Peder Landsverk, research assistant, web-application author (pedlan@prio.org)</p></span>
<img src="https://www.prio.org/images/network/prio.png" alt="">
</body>
</html>
