
td {
   border: none;
}

.container {
   margin-top: 100px;
   text-align: center;
}

.content {
   padding: 20px 20px;
   display: inline-block;
}

.descr {
   line-height: 50px;
}

.error {
   margin-bottom: 20px;
   color: #da4252;
}

span {
   color: #da4252;
}

#subtitle {
   color: #da4252;
}

p#fieldname {
    font-weight: bold;
}
